doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      style 
        include style.css
  body
    div(class='head')
      span Nouveau de mot de passe 
      svg(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40" fill="none")
        path(d="M30.011 0C30.011 0 26.72 3.19294 23.1607 4.48023C-3.19684 14.0139 7.91927 32.5923 8.28191 32.6535C8.28191 32.6535 9.75992 30.0796 11.7565 28.6116C24.4258 19.2977 27.0008 8.57707 27.0008 8.57707C27.0008 8.57707 24.1578 21.4775 12.8866 29.5044C10.3971 31.2764 8.71152 35.6393 7.99798 40C7.99798 40 9.7626 39.287 10.5214 39.0939C10.8173 37.163 11.436 35.314 12.4819 33.6622C28.2349 35.5378 33.3943 22.8443 34.0683 18.4181C35.6591 7.96458 30.011 0 30.011 0Z" fill="#B55D45")

    div(class="content")
      form(action="" method="POST" class="form" id="form")
        div
          label(for="password") Nouveau mot de passe 
          input(id="password" type="password" autocomplete="new-password") 
          svg(id="openEye" class="svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(id="SVGRepo_bgCarrier" stroke-width="0")
            g(id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round")
            g(id="SVGRepo_iconCarrier")
              path(d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

          svg(id="closeEye" class="svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(id="SVGRepo_bgCarrier" stroke-width="0")
            g(id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round")
            g(id="SVGRepo_iconCarrier")
              path(d="M2.99902 3L20.999 21M9.8433 9.91364C9.32066 10.4536 8.99902 11.1892 8.99902 12C8.99902 13.6569 10.3422 15 11.999 15C12.8215 15 13.5667 14.669 14.1086 14.133M6.49902 6.64715C4.59972 7.90034 3.15305 9.78394 2.45703 12C3.73128 16.0571 7.52159 19 11.9992 19C13.9881 19 15.8414 18.4194 17.3988 17.4184M10.999 5.04939C11.328 5.01673 11.6617 5 11.9992 5C16.4769 5 20.2672 7.94291 21.5414 12C21.2607 12.894 20.8577 13.7338 20.3522 14.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    
        button(type="submit") Modifier

      p(id="res")

    script(src="/script.js")


  