* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #214f3e;
  overflow: hidden;
  font-family: roboto, sans-serif;
}

/* style for page radius */

.head {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #ede7df;
  border-radius: 0 0 80px 0;
  display: flex;
  align-items: center;
  /* padding-left: 40px; */
}
.head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  z-index: -1;
  background-color: #214f3e;
}

.content {
  position: relative;
  width: 100%;
  height: calc(100vh - 160px);
  border-radius: 80px 0 0 0;
  background-color: #214f3e;
}
.content::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 160px;
  z-index: -1;
  background-color: #ede7df;
}

/* style title */

.head > span {
  color: #b55d45;
  font-weight: bold;
  font-size: 2em;
  margin-right: 8px;
  margin-left: 40px;
}

/* style form */
.form {
  width: 100%;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > div {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 480px;
}
.form > div > label {
  color: #fff;
  margin-bottom: 2px;
}
.form > div > input {
  border-radius: 8px;
  padding: 4px 8px;
  height: 40px;
}
.svg {
  width: 24px;
  position: absolute;
  right: 8px;
  top: 28px;
}

.form > button {
  margin-top: 60px;
  width: 90%;
  max-width: 480px;
  text-align: center;
  height: 40px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  background-color: #b55d45;
  border: none;
  border-radius: 8px;
}

p {
  text-align: center;
  color: #fff;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

@media screen and (max-width: 512px) {
  .head > span {
    font-size: 24px;
  }
  .head > svg {
    width: 24px;
  }
}

@media screen and (max-width: 512px) {
  .head > span {
    margin-left: 20px;
  }
  .form {
    padding-left: 20px;
  }
}
